 /*-------------- reset ------------------ */


div{
 position:relative;
}
h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }
/*
input,textarea,select{
	direction:rtl;
}
*/

a{
	text-decoration:none;
}
/*
* {
  transform: scale(1);
  transition: all 400ms ease 0s;
}
*/
/*
input
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
*/
*{
	font-size:14px;
	font-family:"Iranian_Sans",Tahoma !important;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

 /*-------------- END reset ------------------ */